
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
        <button type="submit" class="nav-link btn btn-link" style="margin-left:875px;font-size:20pt;text-decoration:none;color:white;">Logout</button>
    </form>
</body>
</html>
